table, td, th {
    border: 1px solid black;
  }

  .ft {
    color: red;
  }

  .lt {
    color: black;
  }

  .t {
    color: blue;
  }
/* ul {
  list-style-type: none
} */
.block1 {
  color: red;
}